*::before, *::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*Palete*/
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover:#A52C6B;
  --color-danger:#C93847 ;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /*Tipografia*/
  --ff-sans: "Inter", sans-serif;
  
  --fs-lg: 1.5rem;
  --fs-base: 1rem;
  --fs-sm: .875rem;

  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
}

html{
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  font-size: var(--fs-base);
  line-height: 1.25rem;
  letter-spacing: 0;
  color: var(--content-secondary);
}
body{
  background-color: var(--background-primary);
}
h1{
  line-height: 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  color: var(--content-primary);
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}